--
-- PostgreSQL database dump
--

\restrict 6K18P8e21dMV0U6cfsT4Khu6Gq2CCUbDIalcipAhrWTaEf8hHWh5mqx6DhuYJ6q

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg12+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agentes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agentes (
    id uuid NOT NULL,
    nome character varying(150) NOT NULL,
    usuario character varying(100) NOT NULL,
    senha_hash character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    perfil character varying(20) DEFAULT 'AGENTE'::character varying NOT NULL
);


ALTER TABLE public.agentes OWNER TO postgres;

--
-- Name: agentes_faciais; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agentes_faciais (
    id uuid NOT NULL,
    agente_id uuid NOT NULL,
    vetor public.vector(512) NOT NULL,
    criado_em timestamp without time zone NOT NULL
);


ALTER TABLE public.agentes_faciais OWNER TO postgres;

--
-- Name: embeddings_faciais; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.embeddings_faciais (
    id uuid NOT NULL,
    foto_id uuid NOT NULL,
    vetor public.vector(512) NOT NULL,
    criado_em timestamp without time zone NOT NULL
);


ALTER TABLE public.embeddings_faciais OWNER TO postgres;

--
-- Name: enderecos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enderecos (
    id uuid NOT NULL,
    pessoa_id uuid NOT NULL,
    logradouro character varying(200) NOT NULL,
    numero character varying(20) NOT NULL,
    bairro character varying(100) NOT NULL,
    cidade character varying(100) NOT NULL,
    estado character varying(2) NOT NULL,
    cep character varying(8) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.enderecos OWNER TO postgres;

--
-- Name: fotos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fotos (
    id uuid NOT NULL,
    pessoa_id uuid NOT NULL,
    nome_arquivo character varying(255) NOT NULL,
    arquivo bytea NOT NULL,
    data_upload timestamp without time zone NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.fotos OWNER TO postgres;

--
-- Name: passagens_criminais; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.passagens_criminais (
    id uuid NOT NULL,
    pessoa_id uuid NOT NULL,
    crime character varying(150) NOT NULL,
    descricao character varying(500) NOT NULL,
    data_ocorrencia date NOT NULL,
    delegacia character varying(150) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.passagens_criminais OWNER TO postgres;

--
-- Name: pessoas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pessoas (
    id uuid NOT NULL,
    nome character varying(150) NOT NULL,
    cpf character varying(11) NOT NULL,
    data_nascimento date NOT NULL,
    sexo character varying(1) NOT NULL,
    nome_mae character varying(150) NOT NULL,
    nome_pai character varying(150) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.pessoas OWNER TO postgres;

--
-- Name: telefones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telefones (
    id uuid NOT NULL,
    pessoa_id uuid NOT NULL,
    numero character varying(20) NOT NULL,
    tipo character varying(20) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.telefones OWNER TO postgres;

--
-- Name: agentes_faciais agentes_faciais_agente_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agentes_faciais
    ADD CONSTRAINT agentes_faciais_agente_id_key UNIQUE (agente_id);


--
-- Name: agentes_faciais agentes_faciais_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agentes_faciais
    ADD CONSTRAINT agentes_faciais_pkey PRIMARY KEY (id);


--
-- Name: agentes agentes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agentes
    ADD CONSTRAINT agentes_pkey PRIMARY KEY (id);


--
-- Name: agentes agentes_usuario_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agentes
    ADD CONSTRAINT agentes_usuario_key UNIQUE (usuario);


--
-- Name: embeddings_faciais embeddings_faciais_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.embeddings_faciais
    ADD CONSTRAINT embeddings_faciais_pkey PRIMARY KEY (id);


--
-- Name: enderecos enderecos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos
    ADD CONSTRAINT enderecos_pkey PRIMARY KEY (id);


--
-- Name: fotos fotos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fotos
    ADD CONSTRAINT fotos_pkey PRIMARY KEY (id);


--
-- Name: passagens_criminais passagens_criminais_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passagens_criminais
    ADD CONSTRAINT passagens_criminais_pkey PRIMARY KEY (id);


--
-- Name: pessoas pessoas_cpf_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pessoas
    ADD CONSTRAINT pessoas_cpf_key UNIQUE (cpf);


--
-- Name: pessoas pessoas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pessoas
    ADD CONSTRAINT pessoas_pkey PRIMARY KEY (id);


--
-- Name: telefones telefones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telefones
    ADD CONSTRAINT telefones_pkey PRIMARY KEY (id);


--
-- Name: agentes_faciais agentes_faciais_agente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agentes_faciais
    ADD CONSTRAINT agentes_faciais_agente_id_fkey FOREIGN KEY (agente_id) REFERENCES public.agentes(id);


--
-- Name: embeddings_faciais embeddings_faciais_foto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.embeddings_faciais
    ADD CONSTRAINT embeddings_faciais_foto_id_fkey FOREIGN KEY (foto_id) REFERENCES public.fotos(id);


--
-- Name: enderecos enderecos_pessoa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos
    ADD CONSTRAINT enderecos_pessoa_id_fkey FOREIGN KEY (pessoa_id) REFERENCES public.pessoas(id);


--
-- Name: fotos fotos_pessoa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fotos
    ADD CONSTRAINT fotos_pessoa_id_fkey FOREIGN KEY (pessoa_id) REFERENCES public.pessoas(id);


--
-- Name: passagens_criminais passagens_criminais_pessoa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passagens_criminais
    ADD CONSTRAINT passagens_criminais_pessoa_id_fkey FOREIGN KEY (pessoa_id) REFERENCES public.pessoas(id);


--
-- Name: telefones telefones_pessoa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telefones
    ADD CONSTRAINT telefones_pessoa_id_fkey FOREIGN KEY (pessoa_id) REFERENCES public.pessoas(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6K18P8e21dMV0U6cfsT4Khu6Gq2CCUbDIalcipAhrWTaEf8hHWh5mqx6DhuYJ6q

